*.in~
*.la
*.a
autom4te.cache/output.0
*.exe
*.lai
*.Po
autom4te.cache/output.1
autom4te.cache/requests
*.0
*.1
depcomp
*.log
*.o
*.Plo
*.lo
*.dirstamp
stamp-h1
*.stackdump
*.trs
*.TMP